<!doctype html>
<html lang="en">
    <head>
        <title>Homework System</title>
        
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/navigation.css">
        
        <!--Javascript-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--Header-->
        <%- include header.ejs %>
        <h1>Welecome to Homework-Management</h1>
        <h3><a href="https://github.com/RustiRabbit/Homework-Management">Visit our Github Repo</a></h3>
        <hr>
        <h5><strong>Changelog</strong></h5>
        <h6>Changes in 0.2</h6>
        <ul>
            <li>Fixed some small Bugs</li>
            <li>You can now edit Subjects & Duework</li>
            <li>There is now a Dashboard</li>
            <li>It now syncs with Google Classroom</li>
            <strong>This is the first BETA build :-)</strong>
        </ul>
        <h6>Changes in 0.1.5</h6>
        <ul>
            <li>Changed the look of the footer</li>
            <li>Changed the Datepickers throughout the site</li>
           
        </ul>
        <h6>Changes in 0.1.4</h6>
        <ul>
            <li>You can now remove Subjects</li>
            <li>Added a footer (in /app)</li>
            <li>Added a edit button in Subjects (This doesn't work)</li>
            <li>Added an message in the Edit window under Duework</li>
            <li><strong>Please note that the Database was reset during the development of 0.1.4</strong></li>
        </ul>
        <h6>Changes in 0.1.3</h6>
        <ul>
            <li>Fixed the Duework Error</li>
        </ul>
        <h6>Changes in 0.1.2</h6>
        <ul>
            <li>Added a edit box in Duework</li>
            <li>Showed the subject name in Duework</li>
        </ul>
        <h6>Changes in 0.1</h6>
        <ul>
            <li>Added Google oAuth</li>
            <li>Added a remove button in DueWork</li>
        </ul>
    </body>
</html>