.maintitle {
    text-align: center;
}

.apptitle {
    text-align: center;
    padding-right: 25%
}

.page-content {
    margin-left:25%;
    padding-top: 20px;
}

.infomationTable {
    padding-left:50%; 
    padding-right:50%;
    border: 1px solid black; 
    border-collapse: collapse;
    width:80%;
}

.createButton {
    padding-left: 30%;
}

table, th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
}

.trCompleted {
    background-color: gray;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.save {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.save:hover,
.save:focus {
    background-color: #4CAF50; /* Green */
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }

 #starwars-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom:20px;
}

#finished-work {
    padding-left: 30%;
    font-weight: 500;
    font-size: 20px;
}
