<div class="header">
    <a href="./app" class="logo">Homework App</a>
    <div class="header-right">
      <a href="/app">Home</a>
      <a href="/app/duework">Duework</a>
      <a href="/app/subjects">Subjects</a>
      <a href="/app/logout">Logout</a>
    </div>
  </div>