<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:12%">
    <h3 class="w3-bar-item">Homework</h3>
    <a href="/app" class="w3-bar-item w3-button">Dashboard</a>
    <a href="/app/duework" class="w3-bar-item w3-button">Duework</a>
    <a href="/app/subjects" class="w3-bar-item w3-button">Subjects</a>
    <a href="/app/settings" class="w3-bar-item w3-button">Settings</a>
    <a href="/app/logout" class="w3-bar-item w3-button">Logout</a>
    <img id="starwars-logo" src="/static/img/starwarslogo.jpg" height="150" width="150">
</div>